.projects .project-detail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  overflow: visible;
}

.projects .project-detail .project-title {
  font-size: 4rem;
  color: #878787;
  margin-bottom: 15px;
}

.projects .project-detail .project-desc {
  font-size: 20px;
  color: #878787;
  text-align: justify;
  line-height: 30px;
}

.projects .project-detail .project-button {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #555;
  color: #878787;
  position: relative;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px;
  display: inline-block;
}
.projects .project-detail .project-button:hover.project-button::after {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
.projects .project-detail .project-button::after {
  content: "View Demo";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  background-color: #222;
  color: #878787;
}

@media screen and (max-width:1024px ){
  
  .projects .project-detail .project-title{
    font-size: 4rem;
  }
}

