// .intro{
//   // position: relative;
//   // top: 70px;
// }

.salute{

  & .container{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100vh;
  
  }
}

.salute-text-container{
  flex: 3;
  white-space: nowrap;
}

.salute-img-container{
  flex: 1;
}

.salute-text{
  color: #333;
  font-size: 60vw;
  white-space: nowrap;
}
.salute-img{
  width: 100%;
}

.name-container{
  height: 100vh;
  background-color: rebeccapurple;
  background-color: green;
  // background-color: yellow;

  & .container{
    height: 100%;
  }
}

.name{
  font-size: 20vw;
  color: #333;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.job-title-container{
  height: 100vh;

  & .container{
    height: 100%;
  }
}

.dark{
  background: url('/static/bg1.png');
}
.purple{
  background: rebeccapurple url('/static/bg2.png');
}

.job-title{
  font-size: 10vw;
  color: #333;
  display: flex;
  height: 100%;
  align-items: center;
}

