.projects .project {
  display: flex;
  align-items: center;
  gap: 80px;
   min-height: 100vh; 
     /* background-color: red ;
  background-color: green; */
}
.projects .phone {
  flex: 1;
  width: 300px;
  height: 600px;
  position: relative;

}
.projects .project:last-child{
  margin-bottom: 10vh;
}
.projects .phone .phone-screen {
  width: 264px;
  height: 564px;
  position: absolute;
  top: 17px;
  left: 18px;
  border-radius: 28px;
  overflow: auto;
}
.projects .phone .phone-screen::-webkit-scrollbar {
  display: none;
}
.projects .phone .phoneApp {
  width: 100%;
}
.projects .laptop {
  width: 600px;
  height: 379px;
  flex: 1;
  position: relative;
}
.projects .laptop .laptop-screen::-webkit-scrollbar {
  display: none;
}
.projects .laptop .laptopApp {
  width: 100%;
}
.projects .laptop .laptop-screen {
  width: 451px;
  height: 283px;
  position: absolute;
  top: 18px;
  left: 68px;
  overflow: auto;
}

.projects .project:nth-child(2n) {
  flex-direction: row-reverse;
}

.phone-sm{
  display: none;
  flex: 1;
  width: 300px;
  height: 600px;
  position: relative;
  overflow: visible;
}

.projects .phone-sm .phone-screen {
  width: 264px;
  height: 564px;
  position: absolute;
  top: 17px;
  left: 18px;
  border-radius: 28px;
  overflow: auto;
}
.projects .phone-sm .phone-screen::-webkit-scrollbar {
  display: none;
}
.projects .phone-sm .phoneApp {
  width: 100%;
}

@media screen and (max-width:1024px ){
  .projects .project{
    flex-direction: column;
    height: max-content;  
    margin-bottom: 50px;

  }
  .projects .project:nth-child(2n){
    flex-direction: column !important;
    height: max-content;  
    margin-bottom: 50px;
   
    

  }
  .projects .phone, 
  .projects .laptop {
    transform: none !important;
  }

  .projects .laptop{
    display: none;
    /* width: 90vw !important;
    height: 50%;
    object-fit: scale-down; */
  }
  .projects .laptop .laptop-screen{
    /* width: 85% !important; */
  }

  .projects .phone-sm{
    display: block;
    /* display: none; */
  }

  .projects .project-title{
    /* transform: none !important; */
  }
 
}