.about-page .name-wrapper{
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: default;
}

.about-page .download-link{
  color: #878787;
  font-weight: bold;
  display: flex;
  gap: 2px;
  font-size: 2vw;
}
.about-page .download-link:hover{
  color: #aaa;
}

.about-page .about-text{
  font-size: 7vw;
  text-align: center;
  color: #878787;
}

.about-page .btn{
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  outline: none;
  border: transparent;
}

.about-page .about-desc{
  display: flex;
  gap: 80px;
  margin-bottom: 20px;

}

.about-page .left{
  flex: 1;
}
.about-page .right p{
line-height: 25px;
font-size: 1.2rem;
text-align: justify;
margin-bottom: 20px;
}

.about-page .left p{
margin-bottom: 30px;
}


.about-page .left .title{
  flex: 1;
  color: #555;
  color: #878787;
  color: #aaa;
  margin-bottom: 10px;
}
.about-page .right{
  flex: 2;
  height: fit-content;
}


@media screen and (max-width: 767px) {
  .about-page .about-desc{
    flex-direction: column-reverse;
  }
  .about-page .download-link{
    font-size: 1.5rem;
  }
  .about-page .left .title{
    margin-top: 30px;
    margin-bottom: 5px;
  }
  
}


