
*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* cursor: none; */
}

:root {
  --headingFont: "Playfair Display", serif;
  --bodyFont: "Fauna One", serif;
}

html {
  font-size: 100%;

}


body {
  font-weight: 400;
  background-color: #111;
  color: #878787;
}

main{
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  width: 90%;
}

.margin-top{
  margin-top: 70px;
}


@media screen and (min-width: 992px) {
  .container{
    width: 95%;
  }
}